@model IEnumerable<Blog.Models.Category>

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = Localizer.GetString(c.Name) })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

@foreach (var item in Model)
{

<li class="nav-item">

    @if (@requestCulture.RequestCulture.UICulture.Name == "tr-TR")
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="List" asp-route-Id="@item.Id">
            @item.Name
        </a>
    }
    else
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="List" asp-route-Id="@item.Id">
            @item.EngName
        </a>
    }
</li>
}
